# –õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ 2.2 (–ø—Ä–æ–≤–µ—Ä–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã—Ö)

## –ó–∞–¥–∞–Ω–∏–µ 1: –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö.

–ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ –ø—Ä–æ–¥–∞–∂–∞—Ö –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ª–∏ –≤—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –ø–æ–ª—è. –ï—Å–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–æ–π –ø—Ä–æ—Ü–µ–Ω—Ç –æ–Ω–∏ —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç –æ—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã—Ö. 

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "Online Retail" –Ω–∞ Kaggle. –≠—Ç–æ—Ç –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏, –ø—Ä–æ–∏–∑–æ—à–µ–¥—à–∏–µ –≤ –ø–µ—Ä–∏–æ–¥ —Å –¥–µ–∫–∞–±—Ä—è 2010 –ø–æ –æ–∫—Ç—è–±—Ä–µ 2011 –≥–æ–¥–∞ –∏ –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ —Ä–æ–∑–Ω–∏—á–Ω–æ–π –∫–æ–º–ø–∞–Ω–∏–µ–π –∏–∑ –í–µ–ª–∏–∫–æ–±—Ä–∏—Ç–∞–Ω–∏–∏.

–°—Å—ã–ª–∫–∞: https://www.kaggle.com/mashlyn/online-retail-ii-uci

In [1]:
import pandas as pd

dataset = pd.read_csv("online_retail.csv")
dataset

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [2]:
df = dataset.copy()
df.dropna(inplace=True)
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [3]:
print("–ü—Ä–æ—Ü–µ–Ω—Ç –ø–æ–ª–Ω–æ—Å—Ç—å—é –∑–∞–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫: " + str(df.shape[0] / dataset.shape[0] * 100) + '%')

–ü—Ä–æ—Ü–µ–Ω—Ç –ø–æ–ª–Ω–æ—Å—Ç—å—é –∑–∞–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫: 77.23312700082727%

## –ó–∞–¥–∞–Ω–∏–µ 2: –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–æ–Ω—Å–∏—Å—Ç–µ–Ω—Ç–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö.

–†–∞—Å—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ –∫–ª–∏–º–∞—Ç–µ –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å–æ–±–ª—é–¥–∞—é—Ç—Å—è –ª–∏ —Ñ–æ—Ä–º–∞—Ç—ã –¥–∞—Ç –≤–æ –≤—Å–µ—Ö –∑–∞–ø–∏—Å—è—Ö. 

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "Climate Change: Earth Surface Temperature Data" –Ω–∞ Kaggle. 

–°—Å—ã–ª–∫–∞: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

In [4]:
files = [
    'GlobalLandTemperaturesByCity',
    'GlobalLandTemperaturesByCountry',
    'GlobalLandTemperaturesByMajorCity',
    'GlobalTemperatures',
    'GlobalLandTemperaturesByState'
]

datasets = {}

for file in files:
    datasets[file] = pd.read_csv(file + ".csv")

datasets['GlobalLandTemperaturesByCity']

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,√Örhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,√Örhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,√Örhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,√Örhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,√Örhus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [6]:
for file, df in datasets.items():
    df['dt'] = pd.to_datetime(df['dt'], errors='coerce')

    incorrect_dates = df[df['dt'].isnull()]
    if len(incorrect_dates) > 0:
        print(f'–í —Ñ–∞–π–ª–µ {file} –Ω–∞–π–¥–µ–Ω—ã –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –¥–∞—Ç—ã:')
        print(incorrect_dates)
    else:
        print(f'–í—Å–µ –∑–∞–ø–∏—Å–∏ –≤ {file} –∏–º–µ—é—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç.')

–í—Å–µ –∑–∞–ø–∏—Å–∏ –≤ GlobalLandTemperaturesByCity –∏–º–µ—é—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç.
–í—Å–µ –∑–∞–ø–∏—Å–∏ –≤ GlobalLandTemperaturesByCountry –∏–º–µ—é—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç.
–í—Å–µ –∑–∞–ø–∏—Å–∏ –≤ GlobalLandTemperaturesByMajorCity –∏–º–µ—é—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç.
–í—Å–µ –∑–∞–ø–∏—Å–∏ –≤ GlobalTemperatures –∏–º–µ—é—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç.
–í—Å–µ –∑–∞–ø–∏—Å–∏ –≤ GlobalLandTemperaturesByState –∏–º–µ—é—Ç –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç.

## –ó–∞–¥–∞–Ω–∏–µ 3: –ü—Ä–æ–≤–µ—Ä–∫–∞ –∞–∫—Ç—É–∞–ª—å–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö

–ê–Ω–∞–ª–∏–∑–∏—Ä—É—è –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Ç–≤–∏—Ç–∞—Ö, –ø—Ä–æ–≤–µ—Ä—å—Ç–µ –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ —Ç–≤–∏—Ç–æ–≤ –∏ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, –∫–∞–∫–∏–µ –∏–∑ –Ω–∏—Ö –∞–∫—Ç—É–∞–ª—å–Ω—ã –Ω–∞ —Ç–µ–∫—É—â–∏–π –º–æ–º–µ–Ω—Ç.

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "COVID19 Tweets" –Ω–∞ Kaggle, –≤–∫–ª—é—á–∞—é—â–∏–π —Ç–≤–∏—Ç—ã –æ –ø–∞–Ω–¥–µ–º–∏–∏ COVID-19.

–°—Å—ã–ª–∫–∞: https://www.kaggle.com/gpreda/covid19-tweets

In [7]:
df = pd.read_csv("covid19_tweets.csv")
df

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179103,AJIMATI AbdulRahman O.,"Ilorin, Nigeria",Animal Scientist|| Muslim|| Real Madrid/Chelsea,2013-12-30 18:59:19,412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Jason,Ontario,When your cat has more baking soda than Ninja ...,2011-12-21 04:41:30,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179106,Gary DelPonte,New York City,"Global UX UI Visual Designer. StoryTeller, Mus...",2009-10-27 17:43:13,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [21]:
start_date = pd.to_datetime('2020-08-15')
print(start_date)
end_date = pd.to_datetime('2021-08-16')
df['date'] = pd.to_datetime(df['date'])
filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]
filtered_df

2020-08-15 00:00:00

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
132601,NHS B'ham & Solihull CCG,"Birmingham, England",NHS Birmingham and Solihull CCG became the lar...,2009-03-03 14:53:03,12032,3132,2493,True,2020-08-16 09:28:04,If you feel unwell before you're meant to go o...,['COVID19'],Sprout Social,False
132602,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13870120,69,126,True,2020-08-16 09:28:02,"Guangzhou, S #China's Guangdong Province, anno...",['China'],Twitter Web App,False
132603,Migrants' Rights Network,London,A UK charity campaigning for the rights & just...,2010-02-04 17:16:31,31488,3140,4969,False,2020-08-16 09:28:00,"Are you a person of colour, EU citizen or migr...",NaN,TweetDeck,False
132604,XRKettering,"Kettering, England",Official twitter of Extinction Rebellion Kette...,2019-07-21 00:49:22,519,353,1733,False,2020-08-16 09:27:59,Why should it be a death sentence if you live ...,['COVID19'],TweetDeck,False
132605,Jules Berkhof,NaN,NaN,2010-01-16 08:24:51,56,291,682,False,2020-08-16 09:27:57,@JumboVismaRoad @rogla Bad luck day for cyclin...,NaN,Twitter for iPhone,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179103,AJIMATI AbdulRahman O.,"Ilorin, Nigeria",Animal Scientist|| Muslim|| Real Madrid/Chelsea,2013-12-30 18:59:19,412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Jason,Ontario,When your cat has more baking soda than Ninja ...,2011-12-21 04:41:30,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179105,BEEHEMOTH ‚è≥,üá®üá¶ Canada,‚öíÔ∏è The Architects of Free Trade ‚öíÔ∏è Really Did ...,2016-07-13 17:21:59,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179106,Gary DelPonte,New York City,"Global UX UI Visual Designer. StoryTeller, Mus...",2009-10-27 17:43:13,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False
179107,TUKY II,"Aliwal North, South Africa",TOKELO SEKHOPA | TUKY II | LAST BORN | EISH TU...,2018-04-14 17:30:07,97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

## –ó–∞–¥–∞–Ω–∏–µ 4: –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ–ª–Ω–æ—Ç—ã –¥–∞–Ω–Ω—ã—Ö.

–†–∞—Å—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ –∑–∞–±–æ–ª–µ–≤–∞–µ–º–æ—Å—Ç–∏ —Ä–∞–∫–æ–º, –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ, –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –ª–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ –≤—Å–µ–º —Å—Ç—Ä–∞–Ω–∞–º –∏–ª–∏ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∏–∑ –Ω–∏—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç. 

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è: "Global Cancer Statistics 2018 (GLOBOCAN 2018)" –Ω–∞ Kaggle.

–°—Å—ã–ª–∫–∞: https://www.kaggle.com/ashkhagan/global-cancer-statistics-2018-globocan-2018

In [28]:
df = pd.read_csv("Countries.csv")
df

,Country Name,Country Code,Year,Agriculture (% GDP),Ease of Doing Business,Education Expenditure (% GDP),Export (% GDP),GDP,Health Expenditure (% GDP),Import (% GDP),...,Population,Land,Continent Name,Export,Import,Education Expenditure,Health Expenditure,Net Trade,GDP Per Capita,Population Density
0,Afghanistan,AFG,2000,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19542982.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,724.145910,29.934415
1,Afghanistan,AFG,2001,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19688632.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,718.788917,30.157510
2,Afghanistan,AFG,2002,38.627892,40.717968,13.670101,NaN,3.854235e+09,9.443391,NaN,...,21000256.0,652860.0,Asia,NaN,NaN,5.268779e+08,3.639705e+08,NaN,183.532775,32.166553
3,Afghanistan,AFG,2003,37.418855,40.717968,13.670101,NaN,4.539497e+09,8.941258,NaN,...,22645130.0,652860.0,Asia,NaN,NaN,6.205538e+08,4.058881e+08,NaN,200.462376,34.686043
4,Afghanistan,AFG,2004,29.721067,40.717968,13.670101,NaN,5.220825e+09,9.808474,NaN,...,23553551.0,652860.0,Asia,NaN,NaN,7.136921e+08,5.120832e+08,NaN,221.657662,36.077491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2018,7.319375,50.509980,19.039841,26.163973,3.415607e+10,4.670418,28.386297,...,15052184.0,390760.0,Africa,8.936585e+09,9.695644e+09,6.503261e+09,1.595231e+09,-7.590586e+08,2269.177012,38.520278
5102,Zimbabwe,ZWE,2019,9.819262,54.469350,22.837985,27.163459,2.183223e+10,3.659765,25.524111,...,15354608.0,390760.0,Africa,5.930390e+09,5.572484e+09,4.986042e+09,7.990086e+08,3.579063e+08,1421.868596,39.294216
5103,Zimbabwe,ZWE,2020,8.772859,49.833418,15.666611,25.917014,2.150970e+10,3.425581,28.733547,...,15669666.0,390760.0,Africa,5.574672e+09,6.180499e+09,3.369841e+09,7.368322e+08,-6.058277e+08,1372.696674,40.100486
5104,Zimbabwe,ZWE,2021,8.849899,49.833418,22.837985,25.411446,2.837124e+10,6.704907,30.901234,...,15993524.0,390760.0,Africa,7.209542e+09,8.767063e+09,6.479419e+09,1.902265e+09,-1.557521e+09,1773.920411,40.929276
5105,Zimbabwe,ZWE,2022,12.069543,49.833418,22.837985,28.908919,2.067806e+10,6.704907,39.540243,...,16320537.0,390760.0,Africa,5.977802e+09,8.176153e+09,4.722451e+09,1.386444e+09,-2.198351e+09,1266.996031,41.766140

In [31]:
unique_countries = df['Country Name'].unique()

dataset = df.copy()
dataset.dropna(inplace=True)
new_unique_countries = dataset['Country Name'].unique()

total_countries = len(unique_countries)

print(f"–í—Å–µ–≥–æ —Å—Ç—Ä–∞–Ω: {total_countries}")
print(f"–ü—Ä–∏–≤–µ–¥–µ–Ω–æ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç—Ä–∞–Ω–∞–º: {len(new_unique_countries)}")
print(f"–ü—Ä–∏–≤–µ–¥–µ–Ω—ã –¥–∞–Ω–Ω—ã–µ –ø–æ –≤—Å–µ–º —Å—Ç—Ä–∞–Ω–∞–º: {total_countries == len(new_unique_countries)}")

skipped_countries = []
for country in unique_countries:
    if country not in new_unique_countries:
        skipped_countries.append(country)


print("–°—Ç—Ä–∞–Ω—ã —Å –Ω–µ–ø–æ–ª–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏: " + ", ".join(skipped_countries))

–í—Å–µ–≥–æ —Å—Ç—Ä–∞–Ω: 215
–ü—Ä–∏–≤–µ–¥–µ–Ω–æ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç—Ä–∞–Ω–∞–º: 131
–ü—Ä–∏–≤–µ–¥–µ–Ω—ã –¥–∞–Ω–Ω—ã–µ –ø–æ –≤—Å–µ–º —Å—Ç—Ä–∞–Ω–∞–º: False
Afghanistan
American Samoa
Andorra
Antigua and Barbuda
Argentina
Aruba
Bahamas, The
Bangladesh
Barbados
Belize
Benin
Bermuda
Bhutan
Bosnia and Herzegovina
British Virgin Islands
Cameroon
Cayman Islands
Central African Republic
Comoros
Congo, Rep.
Cuba
Curacao
Djibouti
Dominica
Dominican Republic
Equatorial Guinea
Eritrea
Faroe Islands
Fiji
French Polynesia
Gibraltar
Greenland
Grenada
Guam
Guinea
Guinea-Bissau
Guyana
Haiti
Hong Kong SAR, China
Isle of Man
Kiribati
Korea, Dem. People's Rep.
Lebanon
Liberia
Libya
Liechtenstein
Macao SAR, China
Malawi
Maldives
Marshall Islands
Micronesia, Fed. Sts.
Monaco
Montenegro
Nauru
New Caledonia
Niger
Northern Mariana Islands
Palau
Puerto Rico
Samoa
San Marino
Sao Tome and Principe
Seychelles
Sierra Leone
Sint Maarten (Dutch part)
Solomon Islands
Somalia
South Sudan
St. Kitts and Nevis
St. Lucia
St. Martin (French part)
St. Vincent and the Grenadines
Suriname
Timor-Leste
Tonga
Trinidad and Tobago
Turkmenistan
Turks and Caicos Islands
Tuvalu
Vanuatu
Virgin Islands (U.S.)
West Bank and Gaza
Yemen, Rep.
Zimbabwe